<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travels Templates</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css" integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" crossorigin="anonymous">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

        
</head>
<body>
    
    <nav class="navbar">
        <!-- LOGO -->
        <div class="logo" font-family: 'Roboto', sans-serif;>TRIP</div>
        <!-- NAVIGATION MENU -->
        <ul class="nav-links">
          <!-- USING CHECKBOX HACK -->
          <input type="checkbox" id="checkbox_toggle" />
          <label for="checkbox_toggle" class="hamburger">&#9776;</label>
          <!-- NAVIGATION MENUS -->
          <div class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li class="services">
              <a href="/">Services</a>
              <!-- DROPDOWN MENU -->
              <ul class="dropdown">
                <li><a href="/">Dropdown 1 </a></li>
                <li><a href="/">Dropdown 2</a></li>
                <li><a href="/">Dropdown 2</a></li>
                <li><a href="/">Dropdown 3</a></li>
                <li><a href="/">Dropdown 4</a></li>
              </ul>
            </li>
            <li><a href="/">Pricing</a></li>
            <li><a href="/">Contact</a></li>
          </div>
        </ul>
      </nav>
  <!----------------------------CONTENT----------------------------------->
    <section>
        <div class="main-container">
            <h4><span style="color:#ffdb6e ;"> DESTINATIONS AROUND THE WORLD</span></h4><br>
            <h1>Travel enjoy <br> and live a new and full <br>life</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br> Dolor exercitationem voluptas iure impedit incidunt<br> ea natus nemo quae consequatur!</p>
         </div>
        
         <button type="button" 12px>Find Out More </button>



        </div>
    </section>










    
</body>
</html>